<nav class="navbar navbar-expand-lg navbar-dark bg-info text-white">
  <a class="navbar-brand" routerLink="/">FRONTEND</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse f"
    id="navbarNav"
    data-target="#navbarNav"
  >
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/estabelecimento']"
          routerLinkActive="active"
          >Estabelecimentos</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/profissional']"
          routerLinkActive="active"
          >Profissionais</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          href="https://profissionais-api.herokuapp.com/swagger-ui.html"
          target="_blank"
          >Swagger Backend</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          href="https://github.com/matheusscardoso/profissionais_api"
          target="_blank"
          >GIT (Backend)</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          href="https://github.com/matheusscardoso/profissionais-frontend"
          target="_blank"
          >GIT (Frontend)</a
        >
      </li>
    </ul>
  </div>
</nav>
