<!-- <header class="bg-black-70 w-100 ph3 pv3 pv4-ns ph4-m ph5-l">
  <nav class="f6 fw6 ttu tracked">
    <a
      class=" "
      title="Home"
      [routerLink]="['/']"
      routerLinkActive="active"
      >Home</a
    >

    <a
      class=""
      [routerLink]="['/estabelecimento']"
      routerLinkActive="active"
      title="Estabelecimento"
      >Estabelecimento</a
    >

    <a
      class=" "
      [routerLink]="['/profissional']"
      routerLinkActive="active"
      title="Profissional"
      >Profissional</a
    >
  </nav>
</header> -->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" routerLink="/">FRONTEND</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"
        [routerLink]="['/estabelecimento']" routerLinkActive="active" >Estabelecimentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        [routerLink]="['/profissional']" routerLinkActive="active"
        >Profissionais</a>
      </li>
    </ul>
  </div>
</nav>

