<!-- <footer class="bg-near-black white-80 pv4 pv4-l ph6">
  <p class="f6"><span class="dib mr4 mr5-ns">©2020 Matheus S. Cardoso</span>
    <a class="link white-80 hover-light-purple" href="/terms">Terms</a> /
    <a class="link white-80 hover-gold" href="/privacy"> Privacy </a> /
    <a class="link white-80 hover-green" href="#">matheusscardoso@gmail.com </a>
  </p>
</footer> -->

<footer class="bg-blue  pv4 ph3 ph5-m ph6-l white-80 ">
  <small class="f6 db tc">© 2016 <b class="ttu">SOME COMPANY Inc</b>., All Rights Reserved</small>
  <div class="tc mt3">
    <a href="/language/" title="Language" class="f6 dib ph2 link  white-80  dim">GITHUB</a>
    <a href="/terms/"    title="Terms" class="f6 dib ph2 link  white-80  dim">LINKEDIN</a>
    <a href="/privacy/"  title="Privacy" class="f6 dib ph2 link  white-80  dim">EMAIL</a>
  </div>
</footer>
