<div class="row">
  <div class="container">
    <h2>Estabelecimentos Cadastrados</h2>

    <p></p>
    <a href="#">Criar Novo</a>
    <p></p>

    <div class="d-flex justify-content-left" *ngIf="estabelecimentos">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NOME</th>
              <th scope="col">ENDERECO</th>
              <th scope="col" colspan="2">AÇÕES</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of estabelecimentos">

            <!-- transformar em um seletor com parametro [estabelecimento]="item" -->
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.nome }}</td>
              <td>{{ item.endereco }}</td>
              <td>editar</td>
              <td>excluir</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
