<div class="row">
  <div class="container">
    <div class="mt-4">
      <div class="d-flex justify-content-between">
        <h2>Profissionais Cadastrados</h2>

        <button class="btn btn-info" (click)="openModal(adicionarModal)">
          Criar Novo
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="mt-2">
      <div class="d-flex justify-content-center" *ngIf="profissionais">
        <div class="table-responsive ml-2 mr-2">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">NOME</th>
                <th scope="col">ENDERECO</th>
                <th scope="col">ESTABELECIMENTO</th>
                <th scope="col" colspan="2">AÇÕES</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of profissionais">
              <!-- transformar em um seletor com parametro [estabelecimento]="item" -->
              <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.nome }}</td>
                <td>{{ item.endereco }}</td>
                <td>{{ item.estabelecimento_id }}</td>
                <td>
                  <a (click)="openModal2(editarModal, item)">
                    <i class="fa fa-edit"></i> editar</a
                  >
                </td>
                <td>
                  <a (click)="openModal2(excluirModal, item)">
                    <i class="fa fa-trash"></i> excluir
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Adicionar -->
<div class="modais-area">
  <ng-template #adicionarModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Novo Profissional</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Adicionar fulano
    </div>

    <div class="modal-footer">
      <button class="btn btn-light" (click)="modalRef.hide()">Cancelar</button>
      <button class="btn btn-info">Salvar</button>
    </div>
  </ng-template>
</div>

<!-- Modal Editar -->
<div class="modais-area">
  <ng-template #editarModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Editar Profissional</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="id-form">Id</label>
        <input
          type="text"
          class="form-control"
          id="id-form"
          value="{{ profissionalSelected.id }}"
          disabled
        />
      </div>

      <div class="form-group">
        <label for="nome-form">Nome</label>
        <input
          type="text"
          class="form-control"
          id="nome-form"
          aria-describedby="nomeHelp"
          value="{{ profissionalSelected.nome }}"
        />
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Endereço</label>
        <input
          type="text"
          class="form-control"
          id="endereco-form"
          value="{{ profissionalSelected.endereco }}"
        />
      </div>

      <label for="estabelecimento-form">Estabelecimento</label>

      <select class="form-control" id="estabelecimento-form"
        [(ngModel)]="profissionalSelected.estabelecimento_id">
        <optgroup *ngFor="let item of estabelecimentos">
          <option>{{item.id}}</option>
        </optgroup>
      </select>


      <div class="modal-footer">
        <button class="btn btn-light" (click)="modalRef.hide()">
          Cancelar
        </button>
        <button class="btn btn-info">Salvar</button>
      </div>
    </div>
  </ng-template>
</div>

<!-- Modal Excluir -->
<div class="modais-area">
  <ng-template #excluirModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Remover Profissional</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <a class="text-danger">Confirmar exclusão de</a>
      {{ profissionalSelected.nome }} ?
    </div>

    <div class="modal-footer">
      <button class="btn btn-light" (click)="modalRef.hide()">Cancelar</button>
      <button class="btn btn-danger">Excluir</button>
    </div>
  </ng-template>
</div>
